$accordionTab: Accordion-tab
$accordionTab-bg-color: $color-main-color
$accordionTab-color: $color-white
$accordionTab-border-color: darken($color-main-color, 20%)

.#{$accordionTab}
  font-family: $font-family-main
  background: $accordionTab-bg-color
  color: $accordionTab-color
  padding: 20px 25px
  font-weight: $font-weight-l
  font-size: $font-size-m

  &:not(:last-child)
    border-bottom: 1px solid $accordionTab-border-color

  &:hover
    cursor: pointer